body {
  background-color: darkgray;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  background-image: url("table.png");
  background-size: cover;
  color: white;
  font-weight: bold;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  width: 150px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: goldenrod;
}
.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1 {
  color: goldenrod;
}

#message-ele {
  font-style: italic;
}
